<div class="post-add-box">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
                <label for="purpose">Purpose</label>
                <select class="form-control post-add__select" id="purpose"  ngModel name="type">
                <option [ngValue]="1">General</option>
                <option [ngValue]="2">Looking for Partners</option>
                <option [ngValue]="3">Looking to Hire</option>
                </select>
        </div>
        <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" ngModel>
        </div>
        <div class="form-group">
                <label for="text">About</label>
                <textarea class="form-control" rows="4" id="text" name="text" ngModel></textarea>
        </div>
        <button class="btn btn--green post-add__btn" type="submit">Post</button>
    </form>
</div>