<div class="u-display-flex">
    <nav class="sidebar">
        <h3 class="heading-tertiary u-padding-left-medium">You may want to follow</h3>
    <ul class="side-nav">
   <my-follow></my-follow>
   </ul>
   </nav>
<main class="my-view">
<div class="my-view__tabs">
    <ul class="nav nav-tabs nav-tabs-style-2">
      <li routerLinkActive="active"><a [routerLink]="['myprofile']">Profile</a></li>
      <li routerLinkActive="active"><a [routerLink]="['post']">Posts</a></li>
      <li routerLinkActive="active"><a [routerLink]="['followers']">Followers</a></li>
      <li routerLinkActive="active"><a [routerLink]="['connections']">Connections</a></li>
      <li routerLinkActive="active"><a [routerLink]="['following']">Following</a></li>
    </ul>
  
    <div class="tab-content">
    <router-outlet></router-outlet>
    </div>
</div>


</main>
</div>