<div class="post">
    <div class="post-content">
       <figcaption class="review__user">
             
               <div class="review__user-box">
                   <div class="review__user-date"> You posted an {{post.postcreated | timeAgo}}</div>
               </div>
             <!--  <div class="review__rating">9.3</div>-->
       </figcaption>
       <h5 class="post__type">{{post.type}}</h5>
       <h3 class="post__title">{{post.title}}</h3>
       <p class="post__text">{{post.text}} </p>
    <!--<img src="/img/hotel-1.jpg" alt="" class="post__img">-->
    <div class="people-intrested">
        <a (click)="open(p)" [routerLink]="" *ngFor="let p of profiles">{{p.firstName}}</a>
    </div>
   </div>
   <div class="post__actions">
   <!-- <div class="post__tool">
           <span>{{post.postlikes}}</span> 
           <button class="post__tool-btn tool-tip" (click)="post.liked ? postunLike(post): postLike(post)">
            <img  *ngIf="!post.liked" class="post__tool--img" src="/img/like.svg" alt="">
            <img *ngIf="post.liked" class="post__tool--img" src="/img/like-fill.svg" alt=""> 
            <span *ngIf="!post.liked" class="tool-tiptext">Like</span>
            <span *ngIf="post.liked" class="tool-tiptext">Un Like</span>
         </button>
    </div>-->
    <div class="post__tool">
       <a [routerLink]="" (click)='showIntrestedProfiles(post)'> <span> See people who showed intrest :{{post.postintrests}}</span></a> 
    </div>
    <div class="post__tool u-align-flex-end">
        <button class="post__tool-btn tool-tip" (click)="delete(post)">
         <img  class="post__tool--img" src="/img/rubbish-bin.svg" alt="">
         <span  class="tool-tiptext">Delete</span>
      </button>
 </div>
</div>
</div>