<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Angular Messenger</title>
    <link rel="stylesheet" href="/js/bootstrap-4.0.0-dist/css/bootstrap.min.css" >
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/js/ng2-toastr/bundles/ng2-toastr.min.css" rel="stylesheet" />
    <script src="/js/ng2-toastr/bundles/ng2-toastr.min.js"></script>
    <script src="/js/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
 
<my-app>Loading...</my-app>
 
<script src="/js/app/bundle.js"></script>



</body>
</html>
