
<li class="side-nav__item side-nav__item--active" *ngFor="let profile of profiles">
    <a (click)="open(profile)" [routerLink]="" class="side-nav__link" >
            <figcaption class="review__user">
                    <img src="/img/user-2.jpg" alt="User 1" class="review__photo">
                    <div class="review__user-box">
                        <p class="review__user-name">{{profile.firstName}}</p>
                        <p class="review__user-date">{{profile.occupation}}</p>
                    </div>
                  <!--  <div class="review__rating">9.3</div>-->
                </figcaption>
    </a>
</li>
