<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="profile-box">
      <div class="flex-between">
      <div class="profile__photo">
            <img class="profile__photo--user"src="/img/user-2.jpg" alt="">
          </div>
        <div class="profile-header"> 
            <button class="btn btn--green post-add__btn modal-btn" *ngIf="!isFollowed" (click)="follow(profile)">Follow</button>
            <button class="btn btn--green post-add__btn modal-btn" *ngIf="isFollowed" (click)="unfollow(profile)">Followed</button>
      </div>
    </div>
      <div class="profile-flex">
              <div class="form-group profile-flex-2 u-margin-right-small">
                      <label for="firstName">Name</label>
                      <div class="profile__label">{{profile.firstName}} {{profile.lastName}}</div>
              </div>
      </div>
      <div class="form-group">
              <div class="profile-flex">
                  <div class="form-group u-margin-right-small">
                      <label for="interests1">Intersts</label>
                      <div class="profile__label">{{profile.intrests[0]}}, {{profile.intrests[1]}}</div>
                  </div>
                  <div class="form-group u-flex-25" *ngIf="profile.interstInfo">
                          <label for="intrestInfo">Interests</label>
                          <div class="profile__label">{{profile.interstInfo}}</div>
                  </div>
              </div>
      </div>
      <div class="form-group">
              <div class="profile-flex">
                  <div class="form-group u-margin-right-small">
                      <label for="status">Status</label>
                      <div class="profile__label">{{profile.status}}</div>
                  </div>
                  <div class="form-group  u-margin-right-small">
                    <label for="year">Year of birth</label>
                    <div class="profile__label">{{profile.yob}}</div>
                </div>
                  <div class="form-group  u-margin-right-small">
                          <label for="language">Mother Tounge</label>
                          <div class="profile__label">{{profile.language}}</div>
                  </div>
                  <div class="form-group">
                          <label for="location">Location</label>
                          <div class="profile__label">{{profile.location}}</div>
                  </div>
              </div>
      </div>
      <div class="form-group">
              <div class="profile-flex">
                  <div class="form-group u-margin-right-small">
                      <label for="qualification">Qualification</label>
                      <div class="profile__label">{{profile.qualification}}</div>
                  </div>
              <div class="form-group u-margin-right-small">
                      <label for="field">Field</label>
                      <div class="profile__label">{{profile.field}}</div>
              </div>
              <div class="form-group">
                  <label for="occupation">Occupation</label>
                  <div class="profile__label">{{profile.occupation}}</div>
              </div>
              </div>
      </div>
      </div>
    
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>



